:root {
	--text-header-color: #eee;/*#ddd*/

	--link-color: #248;/*#eef*/
	--link-hover-color: #248;/*#bbc*/

	--text-color: black;
}


::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #eee;
}

::-webkit-scrollbar-thumb {
	background: #bbb;
	border-radius: 50px;
	border-left: solid 1px #eee;
	border-right: solid 1px #eee;
}

::-webkit-scrollbar-thumb:hover {
	background: #888;

}

* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
}
body {
	/*min-height 100vh (not 100%. Would be of the html)
	 to keep the footer down when there isn't content. But 
	 a padding at the bottom, below the footer, so that it 
	 doesn't overlap the content. It would do that because
	 it's position is absolute, so that the bottom property
	 works. The bottom property works relative to the nearest
	 parent element that hasn't static positioning, so the 
	 body has relative position.*/
	min-height: 100vh;
	padding-bottom: 140px;/*Space for the footer*/
	position: relative;

	background: #fff;
	font-family: 'Open Sans', Roboto, Helvetica, sans-serif;
	color: var(--text-color);
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 56px;
	z-index: 10;

	font-size: 15px;
	line-height: 24px;

	display: flex;
	overflow: visible;
	background: #111b;
	box-shadow: 0px 1px 8px 0px #0008;
}
header nav, header ul, header li, header a {
	display: flex;
}
header nav {
	width: 100%;
	justify-content: space-between;
	flex-flow: row wrap;
	padding: 0px 8px;
}
header ul {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 16px 0;
	margin: 0;
	height: 56px;
}
header a {
	align-items: center;
	margin: 0 8px;/*Not padding because of the border-bottom*/

	color: var(--text-header-color);
	text-decoration: none;
}
header a:hover {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
header a.active {
	color: #fff;
	font-weight: bold;
	border-bottom: solid 2px;
}
header img {
	height: 40px;
}

.dropdown {
	padding: 16px 0;
	display: none;/*!!!!*/
}
.dropdown-content {
	display: none;
	position: fixed;
	top: 56px;
	height: auto;/*Why I need this?*/

	border-radius: 0 0 8px 4px;
	background: #111b;
	box-shadow: 0px 1px 8px 0px #0008;
}
.dropdown:hover .dropdown-content {
	display: flex;
	flex-flow: column;
}


.m {
	display: flex;
	justify-content: center;
}
.m h1, .m h2, .m h3, .m h4, .m h5, .m p {
	text-align: center;
}
#m1 {
	padding: 80px 16px 50px 16px;
	flex-flow: column;

	background: url('../images/bg1.jpg') no-repeat center fixed;
	background-size: cover;
	color: white;
	text-shadow: 1px 1px 2px black;
}
#m1 p {
	width: 90%;
	max-width: 1000px;
	margin: 16px auto;
}
#m1 a {
	color: #51b0ff;
	text-decoration: none;
	text-shadow: 1px 1px 2px #000;
}
#m1 a:hover {
	text-decoration: underline;
	color: #3b82bf;
}

#m2 {
	padding: 0;
	background: url('../images/bg1.jpg') no-repeat center fixed;
	background-size: cover;
	height: 256px;
	display: flex;
	justify-content: space-around;
}
#im1 {
	width: 50%;
	background: url("../images/im1.jpg") no-repeat center;
	background-size: cover;
}
#im2 {
	width: 50%;
	background: url("../images/im2.jpg") no-repeat center;
	background-size: cover;

}
#m3 {
	display: flex;
	padding: 32px 16px;
	flex-flow: column wrap;
	background: white;
	justify-content: center;
}
#m4 {
	padding: 32px 16px;
	background: white;
}
.twitter * {
	box-shadow: 2px 4px 8px 0px #0004;
	border-radius: 4px;
	max-width: 800px;
	max-height: 600px;
}
#m5 {
	padding: 32px 32px 64px 32px;
}
.enroll {
	padding: 16px;
	border-radius: 1000px;
	background: linear-gradient(140deg,#198cff,#00080f);
	text-decoration: none;
	color: white;
	box-shadow: 3px 4px 8px 0px #0008;
}
.enroll:hover {
	color: #eee;
	box-shadow: inset 3px 4px 8px 0px #0008;
}




.simple-list {
	list-style: none;
	padding: 16px;
}

footer, .footer-left, .footer-middle, .footer-right {
	display: flex;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
	justify-content: space-between;
	align-content: space-around;
	padding: 0px 16px;

	background-color: #111;
	text-align: center;
	color: white;
}
.footer-left {
	flex-flow: row wrap;
}

.footer-middle {
	padding: 16px;
}

.footer-middle img {
	height: 100px;
	border-radius: 1000px;
	box-shadow: 4px 8px 20px 0px #0008;
}

.footer-right {
	padding: 16px;
	flex-flow: column wrap;
}
.footer-right div {
	display: flex;
	justify-content: center;
}
footer a {
	color: white;
	text-decoration: none;
}

footer ul {
	list-style: none;
	font-size: small;
	padding: 16px;
}

ion-icon {
	font-size: 24px;
	margin: 8px;
}


@media screen and (max-width: 600px) {
	body {
		margin-bottom: 56px;
	}

	header {
		top: auto;
		bottom: 0;
		height: 80px;
		align-content: space-between;

		box-shadow: 0px -1px 8px #0008;/*Para que acabe pronto sin ser muy oscura*/
		line-height: 16px;
	}
	#main {
		padding: 16px 16px 72px 16px;
	}
	.header-left {
		width: 40%;
		flex-direction: column;
		justify-content: flex-start;
	}

	header img {
		display: none;
	}

	.footer-middle {
		align-self: center;
	}
	.footer-middle img {
		height: 56px;
	}
}
